---
title: Tycho Horan
timezone: UTC
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: posts
  values:
    layout: post
    permalink: "/posts/:title/"
- scope:
    path: ''
    type: pages
  values:
    layout: page
permalink: pretty
bio_text: Tycho **H**oran (*she/they*) is a trans book designer, printer, and teacher. **S**he cofounded
  the [Binch Press / Queer.Archive.Work studio (*Binch/QAW*)](https://binchqaw.studio) and the [Queer/Trans
  Zinefest (*QTZ*)](https://qtzfest.com). **S**he is currently teaching at *RISD* Graphic
  Design and *SMFA* Print and Paper.
